
table{
    border-collapse:collapse;
    border: 0px solid rgba(220,220,220,1);
}

tr, th, td{
    border: 0px solid rgba(220,220,220,1);
    min-width: 80px;
}

#model_table{
  position:relative;
  top:0px;
  left:0px;
}

#model_table td{
    padding: 3px 3px 3px 3px;
}

ul {
    margin: 0px;
    -webkit-padding-start: 20px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0;
    margin: 0;
}

#leaflet_map{
    position:absolute;
    top:0px;
    left:0px;
    height: 100vh;
    width: 100vw;
}

#table_div{
    position:absolute;
    top:0px;
    left:0px;
    z-index:1000;
    background:black;
    border-radius: 3px;
    overflow:hidden;
    padding:0px;
    overflow:hidden;
    height:100%;
}

.odd{
    background:rgba(120,120,220,1);
}

.arow:hover td{
    background:rgba(220,220,220,0.0);
}

.acell{
  padding:0px;
  margin:0px;
}

img{
  border-spacing:0px;
  display: block;
}