body{
  user-select: none;
  padding: 0px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0px;
  overflow:hidden;
}

#x3d_id{
  border: 0px;
}

#x3dom_logdiv{
  position: absolute;
  left: 0px;
  bottom:0px;
  width:99%;
}

.x3dom-canvas{
  cursor:pointer;
}

body {
    padding: 0;
    margin: 0;
}
html, body, #x3d_wrapper {
    height: 100vh;
    width: 100vw;
}

#map_wrapper{
  position: absolute;
  right: 2px;
  bottom: 2px;
  width: 500px;
  height: 400px;
  border: 2px solid white;
  border-radius: 2px;
  z-index: 10000;
}

#leaflet_map{
  width: 500px;
  height: 400px;
}

.measurementtooltip{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0px 3px;
/*   margin:20px 0px 0px 7px; */
  font-weight: normal;
  border-radius: 1px;
  font-size: 16px;
  display:block;

  position:absolute;
  top: 16px;
  left: 3px;

  /*background-color: rgba(0,0,0,0);
  border-color: rgba(0,0,0,0);
  text-shadow:
    -1px -1px 0 rgba(0,0,0,0),
     1px -1px 0 rgba(0,0,0,0),
    -1px  1px 0 rgba(0,0,0,0),
     1px  1px 0 rgba(0,0,0,0);

  box-shadow: none;*/

}

.leaflet-tooltip-left.measurementtooltip::before {
  border: 0px;
  border-left-color: cyan;
}

.leaflet-tooltip-right.measurementtooltip::before {
  border: 0px;
  border-right-color: cyan;
}

#infowindow, #infowindow div{
    z-index:10;
    background:rgba(220,220,220,1);
    border:0px solid rgba(100,100,100,0.5);
    border-radius: 2px;
    color:black;
    font-size:20px;
}

#window-info, #window-info div{
    z-index:10;
    background:rgba(220,220,220,1);
    border:0px solid rgba(100,100,100,0.5);
    border-radius: 2px;
    color:black;
/*     font-size:20px; */
}

#map_resizer_handle{
    position:absolute;
    top:-8px;
    left:-8px;
    width:16px;
    height:16px;
    border-radius:8px;
    background-color:white;
    z-index:1000;
    cursor:move;
}

.leaflet-tooltip-pane { z-index: 350; }

.leaflet-control-zoom-in, .leaflet-control-zoom-out{
    user-select:none;
}

.leaflet-control-zoom{
    user-select:none;
}

.leaflet-interactive img{
    user-select:none;
    pointer-events: none;
}

.leaflet-interactive path{
    user-select:none;
    pointer-events: none;
}

#help_wrapper{
    position:absolute;
    top:2px;
    right:2px;
/*    width:30%;
    height:100%;*/
/*     background: rgba(200,100,100,0.5); */
    z-index: 1000;
}

#help_button{
    background: white;
    border: 0px solid white;
    border-radius: 2px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 2px;
}

#help_button:focus {outline:0;}

#help_button:hover {
    background: rgba(240,240,240,1);
}

#help-content,
#menu-content,
#extra_models-content{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    border-radius:2px;
    border: 0px solid gray;
    color:white;
    font-size:16px;
    padding: 20px 100px;
    background:rgba(50,50,50,0.9);
    overflow:auto;
    display:none;
    z-index:10000;
}

#menu_button{
    background-image:url('images/settings.png');
    background-size: 32px 32px;
    background-repeat: no-repeat;

    background-color:white;
    width: 32px;
    height: 32px;
    border: 0px solid white;
    border-radius: 2px;
    margin-bottom: 2px;
}

#menu_button:hover {
/*     background-image:url('images/settings.png'); */
    background-color: rgba(240,240,240,1);
}

.my-check-box {
    width:25px;
    height:25px;
}

#toggle_lidar_button,
#exit_button,
#align_button,
#align_button_heading,
#align_button_location,
#align_tr_button,
#download_button,
#download_button_ml,
#view_src_images_button,
#extra_models_button,
#markers_delta_button{
    background-size: 32px 32px;
    background-repeat: no-repeat;
    background-position: center;

    background-color:white;
    width: 32px;
    height: 32px;
    border: 0px solid white;
    border-radius: 2px;
    margin-bottom: 2px;
}

#toggle_lidar_button{
    background-image:url('images/baseline_track_changes_black_48dp.png');
}

#exit_button{
    background-image:url('images/ic_exit_to_app_black_48dp_1x.png');
}

#download_button,
#download_button_ml
{
    background-image:url('images/ic_file_download_black_48dp_1x.png');
    background-size: 26px 26px;
}

#view_src_images_button{
    background-image:url('images/baseline_photo_library_black_48dp.png');
    background-size: 26px 26px;
}

#align_button{
    background-image:url('images/ic_explore_black_48dp_1x.png');
}

#align_tr_button{
    background-image:url('images/ic_horizon_black_48dp_1x.png');
}

#extra_models_button{
    background-image:url('images/ic_add_location_black_48dp_1x.png');
}

/*#markers_delta_button{
    background-image:url('images/ic_horizon_black_48dp_1x.png');
}*/

#exit_button:hover{
    background-color: rgba(240,150,150,1);
}

#toggle_lidar_button:hover,
#align_button:hover,
#align_button_heading:hover,
#align_button_location:hover,
#align_tr_button:hover,
#download_button:hover,
#download_button_ml:hover,
#view_src_images_button:hover,
#extra_models_button:hover,
#markers_delta_button:hover
{
/*     background-image:url('images/align.png'); */
    background-color: rgba(240,240,240,1);
}

.crosshair{
    background: rgba(50,200,50,0.5);
    display:none;
}

#crosshair_h{
    position:absolute;
    width: 512px;
    height: 2px;
}

#crosshair_v{
    position:absolute;
    height: 512px;
    width: 2px;
}

#window-info{
    display:block;
    font-size: 16px;
}

#window-viewinfo{
    z-index: 10;
    background: rgba(220,220,220,1);
    border: 0px solid rgba(100,100,100,0.5);
    border-radius: 1px;
    color: black;
    font-size: 16px;
    margin-bottom: 2px;
}

#window-viewinfo td{
    text-align:center;
}

#window-markinfo{
    z-index: 10;
    background: rgba(256,256,256,1);
    border: 0px solid rgba(100,100,100,0.5);
    border-radius: 1px;
    color: black;
    font-size: 16px;
    margin-bottom: 2px;
}

#window-markinfo td{
    text-align:center;
}

#window-extrainfo{
    z-index: 10;
    background: rgba(220,220,220,1);
    border: 0px solid rgba(100,100,100,0.5);
    border-radius: 1px;
    color: black;
    font-size: 16px;
    margin-bottom: 2px;
    outline:0;
}

#window-error{
    z-index: 10;
    background: rgba(256,256,256,1);
    border: 0px solid rgba(100,100,100,0.5);
    border-radius: 1px;
    color: red;
    font-size: 16px;
    margin-bottom: 2px;
}

.input{
    text-align: right;
    width: 100px;
    height: 20px;
    font-size: 16px;
    border-radius: 2px;
}

.hcontrol-button{
    background-color: red;
}

.hcontrol-button:hover{
    background-color: red;
}

#window-info-fps{
    position:absolute;
    left: 2px;
    bottom: 2px;
    color: white;
}

#info-wrapper{
    position: absolute;
    left:2px;
    top:2px;
}

/*button with icon*/
.ic{
  width:27px;
  height:27px;
  padding:0px;
  border:1px solid gray;
  border-radius: 2px;
  user-select:none;
  cursor: pointer;
}

.ic:hover {
  background-color: rgba(240,240,240,1);
}

.ic:active{
  background-color: rgba(200,200,200,1);
}

.ic:focus {outline:0;}

/*icon*/
.icim{
  margin:0px;
  padding:0px;
  width:25px;
  height:25px;
  user-select:none;
}

#aa1_dialog{
  position:absolute;
  top:2px;
  left:2px;
  background: rgba(256,256,256,1);
  padding:5px;
  border: 1px solid rgba(200,200,200,0.5);
}

#aa1_dialog td{
  padding: 0px 5px;
}

#aa1_dialog button{
  margin: 0px 5px;
}

.marker_coordinates{
  width: 50px;
  text-align: right;
}

#align_button_heading{
    background-image:url('images/ic_explore_black_48dp_1x.png');
    background-color: rgba(200,250,200,1);
}

#align_button_location{
    background-image:url('images/ic_explore_black_48dp_1x.png');
    background-color: rgba(200,200,250,1);
}

#download_button_ml{
    background-color: rgba(200,250,200,1);
}

#markers_delta_button{
    background-image:url('images/ic_horizon_black_48dp_1x.png');
    background-color: rgba(100,220,200,1);
}

#markers_delta_button{
  display: block;
}

#align_button,
#align_button_heading,
#align_button_location{
  display: block;
/*   float:right; */
/*   margin-right:2px; */
}

#download_button,
#download_button_ml,
#view_src_images_button{
  display: block;
/*   float:right; */
/*   margin-right:2px; */
}

#model_name{
  width: 200px;
  padding: 0px 5px;
}

#import_coordinates_button{
  height: 25px;
}

.mpr_name{
  font-size:12px;
}

.mpr_input, .mpr_steps{
  width:50px;
  text-align:right;
}

#mpr_save, #mpr_save_marks,#mpr_match{
  margin: 0px 5px 5px 5px;
}
